.RelatedAddCard{
    background: rgb(255, 255, 255);
    border-radius: 2px;
    border: 1px solid #e0e0e0!important;
    height: 151px;
    width: 310px;
    margin: 2%;
}

.ant-btn-primary{
    background: rgb(0, 197, 163);
    border-color: rgb(0, 197, 163);
}

.addPersonBtn{
    margin-top:35%;
}